<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EmployeeDAO">

	<select id="selectEmployeeByUsername" parameterType="java.lang.String" resultMap="Employee">
		SELECT e.*, p.order FROM employee e left outer join position p on e.position = p.id WHERE e.username like #{username}
	</select>
	
	<select id="selectEmployeeById" parameterType="int" resultMap="Employee">
		SELECT e.*, p.order FROM employee e left outer join position p on e.position = p.id WHERE e.id = #{id}
	</select>

	<resultMap type="employee" id="Employee">
		<id property="id" column="id" />
		<result property="name" column="name" />
<!-- 		<result property="phone" column="phone" /> -->
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="order" column="order"/>
		<collection property="authorities" javaType="ArrayList" column="id" ofType="Authority" select="selectAuthoritiesByEmployeeKey"/>
	</resultMap>

	<select id="selectAuthoritiesByEmployeeKey" resultType="authority">
		select * from authorities where employee = #{id}
	</select>

	<select id="getSuperior" resultMap="Employee">
		<![CDATA[
			select e.*, p.order from employee e left outer join team t on e.team = t.name left outer join position p on e.position = p.id where p.order < #{order} and t.name = #{team} order by p.order desc limit 1
		]]> 
	</select>
</mapper>
