<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.suyoung.web.dao.document.DocVO" alias="doc" />
		<typeAlias type="com.suyoung.web.dao.employee.AuthorityVO" alias="authority" />
		<typeAlias type="com.suyoung.web.dao.employee.EmployeeVO" alias="employee" />
		<typeAlias type="com.suyoung.web.dao.approval.ApprovalVO" alias="approval" />
	</typeAliases>
	<mappers>
		<mapper resource="spring/mapper/doc-mapper.xml"></mapper>
		<mapper resource="spring/mapper/employee-mapper.xml"></mapper>
		<mapper resource="spring/mapper/approval-mapper.xml"></mapper>
	</mappers>
</configuration>
