<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
					http://www.springframework.org/schema/security
					http://www.springframework.org/schema/security/spring-security.xsd">

<!-- 	<bean id="customAuthenticationProvider" class="com.suyoung.web.security.CustomAuthenticationProvider"></bean> -->

	<sec:http use-expressions="true">
		<sec:intercept-url pattern="/admin/**"
			access="hasAuthority('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/**" access="isAuthenticated()"/>
<!-- 		<sec:intercept-url pattern="/**" access="permitAll"/> -->
		<sec:form-login/>
		<sec:logout/>
	</sec:http>
	
	<sec:authentication-manager alias="authManager">
		<sec:authentication-provider ref="customAuthenticationProvider"></sec:authentication-provider>
	</sec:authentication-manager>
</beans>
